.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;


    &-color {
        &--blue {
            background-color: #005DFF;
            color: #FFFFFF;

        }
    
        &--white {
            background-color: #FFFFFF;
            border: 3px solid #0F0F11;
            color: #0F0F11;
        }
    }

    &-sz {
        &--sm {
            width: 124px;
            height: 40px;
            border: 1px solid #D2DEFF;

        }

        &--md {
            width: 174px;
            height: 48px;
        }
    }
}
