* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #2c2f3c;

}

button {
    outline: none;
    border: none;
    color: inherit;
}

a {
    color: inherit;
}

.rock {
    height: 575px;
    background: url('img/m-h-day.jpg') center center/cover no-repeat;
    padding-left: 150px;
}

.container {
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    padding: 15px;
}

.logo_img {
    height: 35px;
    width: 35px;
}

.logo_txt {
    margin-left: 12px;
}

.big_txt {
    font-size: 18px;
    font-weight: 900;
}

.small_txt {
    font-size: 8px;
    margin-left: 10px;
}

.title {
    font-size: 50px;
    position: absolute;
    margin-left: 0;
    margin-top: 50px;
    font-weight: 900;
}

.main_txt {
    margin-top: 230px;
    font-weight: 300;
}

.backround--blue {
    background-color: #14a0c7;
}

.tree_bloks {
    width: 60%;
}

.too_blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    color: white;
    width: 50%;
}

.btn-block {
    padding: 10px 30px;
}

.btn--green {
    background-color: #699900;

}