@media screen and (max-width: 1500px) {
    .footer {
        .footer__base {
            .footer__lists {
                padding-right: 0;
            }

        }
    }
}

@media screen and (max-width: 1400px) {
    .solutions {
        padding: 72px 80px;
    }

    .unclaimed {
        padding: 53px 50px 72px 80px;
    }

    .tradebid {
        padding: 30px 90px 72px 50px;
    }

    .blog {
        padding: 72px 150px;
    }
}

@media screen and (max-width: 1300px) {
    .international {
        padding: 40px 0;
    }

    .blog {
        padding: 72px 29px;
    }
}

@media screen and (max-width: 1200px) {
    .international {
        &__img {
            width: 516px;
            height: 365px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .international {
        &__img {
            width: 413px;
            height: 292px;
        }
    }

    .solutions {
        padding: 72px 0;
    }

    .unclaimed {
        padding: 53px 20px 72px 40px;
    }

    .tradebid {
        padding: 30px 10px 72px 00px;
    }
}

@media screen and (max-width: 1000px) {
    .ml-16 {
        margin-left: 0;
    }
    
    .international {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;

        &__img {
            width: 516px;
            height: 365px;
            margin-bottom: 32px;
        }
    }

    .solutions {
        padding: 20px 0;
        height: 500px;

        &__title {
            margin-bottom: 20px;
        }
    }

    .unclaimed {
        flex-direction: column-reverse;
        align-items: center;

        &__img {
            width: 405px;
            height: 279px;
        }

        &__base {
            margin-top: 30px;
        }
    }

    .tradebid {
        flex-direction: column;
        align-items: center;
        &__img {
            width: 405px;
            height: 279px;
        }

        &__base {
            margin-top: 30px;
        }
    }

    .blog {
        &__tab {
            &__img {
                display: none;
            }
        }
    }

    .footer {
        height: 335px;
        .footer__base {
            flex-direction: column-reverse;
        }
    }

}

@media screen and (max-width: 900px) {
    .solutions {
        padding: 20px 0px 0px 0px;
        height: 650px;
        &__general {
            flex-direction: column;
            align-items: center;
        }

        &__img {
            margin-bottom: 30px;
            width: 405px;
            height: 307px;
        }
    }
}

@media screen and (max-width: 700px) {
    .blog {
        display: none;
    }

    .blog-sm {
        display: block;
    }

    .footer {
        height: 508px;
        .footer__base {
            .footer__content {
                margin-top: 50px;
                margin-bottom: 30px;
            }
            .footer__lists {
                width: 100px;
                .footer__list {
                    flex-direction: column;
                    width: 100px;
                    .footer__list__item {
                        width: 100px;
                        margin-bottom: 15px;
                    }
                    .footer__list__point {
                        display: none;
                    }
                }
            }
            .footer__terms {
                display: none;
            }
        }
    }

    .header {
        padding: 8px 10px 8px 7px;

        &__nav {
            .list {
                .element {
                    margin: 0px 6px;
                }
                .element-new {
                    line-height: 12px;
                    padding: 1px 4px;
                    letter-spacing: 1px;
                    font-size: 8px;
                    width: 32px;
                    height: 14px;
                    left: 267px;
                }
            }
        }
    }
}