:root {
  --btn-color: #699900;
  --btn-color-hover: #4e7200;
  --highlight-color: #14a0c7;
  --backround-color: white;
  --footer-color: #21232e;
  --top-color: linear-gradient(90deg, rgba(100, 148, 18, 1) 0%, rgba(49, 95, 205, 1) 100%);
  --block-color: #21232e;
  --txt-color: Black; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Roboto', sans-serif;
  color: var(--txt-color);
  background-color: var(--backround-color);
  min-width: fit-content; }

.change-theme-button {
  margin-left: 1250px;
  text-transform: capitalize;
  cursor: pointer; }

button {
  outline: none;
  border: none;
  color: inherit; }

a {
  color: inherit; }

.backround--blue {
  background-color: var(--highlight-color); }

.btn-block {
  padding: 10px 30px; }

.btn--green {
  background-color: var(--btn-color);
  color: white;
  transition: 0.3s; }

.btn--green:hover {
  background-color: var(--btn-color-hover);
  transition: 0.3s; }

.container {
  height: 100%;
  width: 100%; }

.logo {
  display: flex;
  padding: 15px; }
  .logo_img {
    height: 35px;
    width: 35px; }
  .logo_txt {
    margin-left: 12px; }
    .logo_txt .big_txt {
      font-size: 18px;
      font-weight: 500; }
    .logo_txt .small_txt {
      font-size: 8px;
      margin-left: 10px; }

.rock {
  height: 575px;
  background: url("../img/m-h-day.jpg") center center/cover no-repeat;
  padding-left: 150px;
  border-radius: 0 0 40% 0; }
  .rock .title {
    font-size: 50px;
    margin-left: 0;
    margin-top: 50px;
    font-weight: 900; }
    .rock .title .backround--blue {
      background-color: var(--highlight-color); }
  .rock .tree_blocks {
    width: 60%; }
    .rock .tree_blocks .main_txt {
      margin-top: 50px;
      font-size: 13px;
      font-weight: 300; }
    .rock .tree_blocks .too_blocks {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      color: white;
      width: 50%; }

.adventure_main_txt {
  display: flex;
  justify-content: center;
  padding-top: 35px; }
  .adventure_main_txt .backround--blue {
    background-color: var(--highlight-color); }

.adventure_box {
  display: flex;
  height: 860px;
  padding-top: 25px;
  flex-direction: column;
  justify-content: space-around; }
  .adventure_box .adventure_block {
    display: flex;
    height: 260px;
    width: 880px;
    margin: 0 auto;
    background-color: var(--block-color); }
    .adventure_box .adventure_block .adventure_img {
      display: flex;
      justify-content: flex-start;
      margin: 3% 0 3% 3%;
      height: 80%;
      width: 525px; }
    .adventure_box .adventure_block .adventure_scale {
      height: 80%;
      width: 525px; }
    .adventure_box .adventure_block .adventure_compound {
      display: flex;
      flex-wrap: wrap;
      width: 90%; }
      .adventure_box .adventure_block .adventure_compound .adventure_title {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 55px; }
      .adventure_box .adventure_block .adventure_compound .adventure--white {
        color: white; }
      .adventure_box .adventure_block .adventure_compound .adventure_txt {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: 300;
        font-size: 13px; }
      .adventure_box .adventure_block .adventure_compound .adventure--grey {
        color: #c0c0c0; }
      .adventure_box .adventure_block .adventure_compound .adventure_link {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: 300;
        font-size: 13px; }

.adventure .container {
  height: 100%;
  width: 100%; }

footer .container {
  padding-top: 103px;
  margin-bottom: -55px; }
  footer .container .top {
    display: flex;
    justify-content: space-between;
    height: 115px;
    width: 950px;
    background: var(--top-color);
    margin: 0 auto; }
    footer .container .top_two {
      width: 55%;
      padding: 25px 0 25px 130px; }
      footer .container .top_two .title {
        font-weight: bold;
        font-size: 22px; }
      footer .container .top_two .top_txt {
        margin-top: 17px;
        color: #c0c0c0;
        font-weight: 300;
        font-size: 12px; }
    footer .container .top .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38%; }

footer .container_2 {
  display: flex; }
  footer .container_2 .bot {
    background-color: var(--footer-color);
    height: 190px;
    width: 100%;
    display: flex;
    z-index: -1;
    align-items: flex-end;
    justify-content: space-around;
    color: white; }
    footer .container_2 .bot .logo {
      padding-bottom: 54px; }
    footer .container_2 .bot_txt {
      font-weight: 300;
      font-size: 11px;
      padding-bottom: 53px; }
    footer .container_2 .bot .no_number {
      font-weight: 300;
      font-size: 12px;
      padding-bottom: 65px; }
