.container {
    max-width: 80%;
    margin: 0 auto;
}

.main {
    background-color: #f1f6f9;
    padding: 80px 0px;

    .container {
        display: grid;
        grid-template-columns: 47% 53%;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 40px;

            h1 {
                font-size: 50px;
                text-align: center;
                color: black;
            }

            h3 {
                font-size: 24px;
                text-align: center;
                color: #292929;
            }

            &_txt {
                font-size: 16px;
                margin-top: 22px;
                width: 470px;
            }

            .button {
                margin: 0 auto;
                margin-top: 20px;

                &_supplier {}

                &_learn {
                    margin-left: 20px;
                }

            }


        }

        .category-section {
            display: flex;
            flex-wrap: wrap;
            margin-left: 25px;

            &_1 {
                display: flex;
                align-items: end;
                width: 27%;
                height: 160px;
                background: url('../img/vegetables.jpeg') center center/cover no-repeat;

            }

            &_2 {
                width: 70%;
                height: 160px;
                background: url('../img/solarbattery.jpeg') center center/cover no-repeat;
                margin-left: 12px;
                display: flex;
                align-items: end;
            }

            &_3 {
                width: 70%;
                height: 160px;
                background: url('../img/wheat.jpeg') center center/cover no-repeat;
                margin-top: 12px;
                display: flex;
                align-items: end;
            }

            &_4 {
                width: 27%;
                height: 160px;
                background: url('../img/iron.jpeg') center center/cover no-repeat;
                margin-top: 12px;
                margin-left: 12px;
                display: flex;
                align-items: end;
            }

            &_5 {
                width: 57%;
                height: 160px;
                background: url('../img/chip.jpeg') center center/cover no-repeat;
                margin-top: 12px;
                display: flex;
                align-items: end;
            }

            &_6 {
                width: 40%;
                height: 160px;
                background: url('../img/tractor.jpeg') center center/cover no-repeat;
                margin-top: 12px;
                margin-left: 12px;
                display: flex;
                align-items: end;
            }
        }
    }
}

.advantage {

    .container {
        height: 200px;
        width: 1000px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .item {
            height: 80px;
            display: flex;

            &_icon {
                display: flex;
                align-items: start;

            }

            &_txt {
                margin-left: 20px;
                font-size: 26px;
            }
        }
    }
}

.promotion {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_title {
        font-size: 40px;
    }

    &_txt {
        margin-top: 30px;
        text-align: center;
        line-height: 20px;
        width: 450px;

        a {
            text-decoration: none;
        }
    }

    &_btn {
        margin-top: 20px;
    }
}

.postings {
    height: 250px;
    background-color: #f1f6f9;

    .container {
        width: 70%;
        height: 300px;
        display: flex;

        .postings_box {
            .postings_title {
                font-size: 28px;
            }

            .postings_txt {
                font-size: 15px;
                margin-top: 30px;
                width: 270px;
            }

            .postings_btn {
                margin-top: 20px;
            }
        }
    }
}

.access {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_title {
        font-size: 35px;
    }

    &_txt {
        margin-top: 30px;
        text-align: center;
        line-height: 20px;
        width: 465px;

        a {
            text-decoration: none;
        }

        b {
            color: #545454;
        }
    }
}

.world {
    img {
        width: 100%;
    }
}

.feedback {
    background-color: #f1f6f9;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_txt {
        text-align: center;
        width: 435px;
    }
}